body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.mohiuddin-color{
    color: orange;
}
.section-flex{
    display: flex;
}
.half{
    width: 50%;
    padding-top: 15px;
    padding-left: 39px;
    
}
.half img{
    width: 60%;
  
     
}
.link-buttom{
   background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 10px;
    color: #fff;
    
}
.top-bottom{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
} 
.two-section{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.div-shadow{
    box-shadow: 10px 5px 40px gray;
    margin-bottom: 66px;
    width: 40%;
    margin-left: 68px;
    margin-right: 5px;
    padding: 20px;
   
}
.last-step{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border-id{
    border-left: 7px solid;
   border-image: linear-gradient(tomato,orange);
   border-image-slice: 1;
}
#border-id2{
    border-left: 7px solid;
   border-image: linear-gradient(blue,cyan);
   border-image-slice: 1;
   
}
footer{
    text-align: center;
}